/* Write your CSS here */
* {
  font-family: 'Roboto';
}

.container {
  height: 100vh;
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.appointments-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
}

.img {
  width: 100%;
  height: 100%;
}

.first-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 2px solid #b5b7c4;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  min-width: 40%;
}

.heading {
  font-size: 28px;
  font-weight: 500;
  color: #171f46;
  padding-bottom: 10px;
}

label {
  font-size: 14px;
  font-weight: 400;
  color: #b5b7c4;
}

@media (max-width: 767px) {
  .img {
    display: none;
  }
  .form-container {
    width: 100%;
  }
}

.inputs {
  padding: 10px;
  font-size: 16px;
  color: #171f46;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #b5b7c4;
  border-radius: 5px;
  outline: none;
}

.add-button {
  margin-top: 10px;
  width: 70px;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #8b5cf6;
  border: 0px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.sub-heading {
  font-size: 24px;
  font-weight: 500;
  color: #171f46;
  padding-bottom: 10px;
}

.second-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.starred-button {
  width: 80px;
  height: 25px;
  font-size: 14px;
  border-radius: 15px;
  color: #b5b7c4;
  background-color: transparent;
  outline: none;
  border: 1px solid #b5b7c4;
  cursor: pointer;
}

ul {
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.highlight-starred-button {
  color: #ffffff;
  background-color: #9897f0;
}
